<div class="container">
    <div class="row">
        {{#if user.admin}}

    <div class="col-lg-12" id="init">

    <h3>Instrucciones</h3>
    <a href="#owners">1.  dueño de proyecto (owner)</a>
    <a href="#proyectos">2.  proyectos </a>
    <a href="#noticias">3.  noticias de proyectos </a>
     <a href="#metas">4.  metas de proyectos </a>
     <a href="#clientes">5.  clientes </a>
      <a href="#planes">6.  planes </a>
       <a href="#unidades">7.  unidades </a>
<a href="#medallas">8.  medallas </a>
 </div>



     <div class="col-lg-12">
        <div class="jumbotron top5" id="owners">
            <h4>1.  dueño de proyecto (owner)</h4>
            <p>
                Persona dueña de el proyecto.
                Crear / Eliminar / Actualizar
                    </p>


            <small><a href="#init" class="pull-right">inicio</a></small>
        </div>
    </div>


    <div class="col-lg-12">
        <div class="jumbotron top5" id="proyectos">
            <h4>1.  owner de proyecto (owner)</h4>
            <p>
                1.  owner de proyecto (owner)
                1.  dueño de proyecto (owner)1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner)1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner) 1.  dueño de proyecto (owner)
                </p>


            <small><a href="#init" class="pull-right">inicio</a></small>
        </div>
    </div>





     <div class="col-lg-12">
        <div class="jumbotron top5" id="noticias">
            <h4>1.  noticias de proyecto (owner)</h4>
            <p>
                1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner)1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner)1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner) 1.  dueño de proyecto (owner)
                </p>


            <small><a href="#init" class="pull-right">inicio</a></small>
        </div>
    </div>

     <div class="col-lg-12">
        <div class="jumbotron top5" id="metas">
            <h4>1.  metas de proyecto (owner)</h4>
            <p>
                1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner)1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner)1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner) 1.  dueño de proyecto (owner)
                </p>


            <small><a href="#init" class="pull-right">inicio</a></small>
        </div>
    </div>
     <div class="col-lg-12">
        <div class="jumbotron top5" id="clientes">
            <h4>1.  clientes de trutfund</h4>
            <p>
                1.  clientes de proyecto (owner)
                1.  dueño de proyecto (owner)1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner)1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner) 1.  dueño de proyecto (owner)
                </p>


            <small><a href="#init" class="pull-right">inicio</a></small>
        </div>
    </div>
     <div class="col-lg-12">
        <div class="jumbotron top5" id="planes">
            <h4>1.  planes de proyecto (owner)</h4>
            <p>
               como hacer planes de subscrición.
               
                </p>


            <small><a href="#init" class="pull-right">inicio</a></small>
        </div>
    </div>
     <div class="col-lg-12">
        <div class="jumbotron top5" id="unidades">
            <h4>1.  unidades de proyecto (owner)</h4>
            <p>
                1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner)1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner)1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner) 1.  dueño de proyecto (owner)
                </p>
   <p>
                1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner)1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner)1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner) 1.  dueño de proyecto (owner)
                </p>

            <small><a href="#init" class="pull-right">inicio</a></small>
        </div>
    </div>

     <div class="col-lg-12">
            

        <div class="jumbotron top5" id="medallas">
            <h4>Esta sección aún no está en desarrollo </h4>
            <p>
                1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner)1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner)1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner) 1.  dueño de proyecto (owner)
                </p>

                   <p>
                1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner)1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner)1.  dueño de proyecto (owner)
                1.  dueño de proyecto (owner) 1.  dueño de proyecto (owner)
                </p>


            <small><a href="#init" class="pull-right">inicio</a></small>
        </div>
    </div>


{{else}}

    <h2>Estamos trabajando en esto :3</h2>

{{/if}}
    </div>
</div>