

<div class="container p-4 top5">
	<div class="row">
                
            <div class="col-md-4 col-sm-4 col-lg-3" ></div>
           <div class="col-md-4 col-sm-4  col-lg-6 mx-auto" align="">
             
      

               <div class="card" style="width: 28rem;">
                   <div class="card text-center">
                       <div class="card-header">
                   <img src="/img/logo512.png" class="card-img-top  rounded-circle w-50" width="120" alt="">
                       </div>

                       <div class="card-body">
                           <h5 class="card-title">Ingresa tu correo.</h5>
                        <form action="/get-reset-pass" method="POST" method="post">
                            <div class="form-group row">
                                <div class="">
                                <label for="UserName" class="col-sm-2 col-form-label card-text">correo:</label><br>
                                <input type="text" name="mail"  class="form-control " id="" placeholder="tumail@ejemplo.com" required>
                                </div>
                            </div>     
                           
                            
                            

                            <div class="form-group row p5">
                                <input class="pull-right btn btn-default btn-sm" type="submit" value="Reinicar contraseña">
                            </div>
                            </form>

                            <small><a href="/reset-pass">olvidé mi usuario / contraseña</a></small>
                            
                       </div>
                   </div>
               </div>



         
           </div>
           <div class="col-md-4 col-sm-4 col-lg-3" ></div>

    </div>
  </div>