{{#if user.admin}}


<div class="container my-element animated fadeIn delay-1s">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Clientes</a></li>
                <li><a data-toggle="tab" href="#menu1">Planes</a></li>
                <li><a data-toggle="tab" href="#menu2">Unidades</a></li>
<li><a  href="https://sandbox-dashboard.openpay.mx/login">Cobros y descenbolsos</a></li>
                
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>Clientes</h3>
                    <small>Estos datos son proveidos por <a href="">OpenPay.com</a></small>



                    <div class="col-lg-12">

                        <h3></h3>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Idetificador </th>
                                    <th>Fecha</th>
                                    <th>Mail</th>
                                    <th>Ver mas</th>
                                    <th>Borrar</th>
                                </tr>
                            </thead>
                            <tbody id="clientsT">

                            </tbody>
                        </table>
                    </div>
                    <br>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Planes</h3>

                    <br>
                    <h5>
                        Crear plan
                    </h5>

                    <form action="/plan-create" method="POST">
                        <input class="btn btn-default pull-right" value="Crear plan" type="submit">
                        <br>
                        <br>
                        <input type="text" class="form-control" name="name" placeholder="MensualEJemplo" required>
                        <input type="text" class="form-control" name="amount" placeholder="Cantidad - 150.00" required>
                        <input type="text" class="form-control" name="status_after_retry" placeholder="UNPAID/CANCELLED"
                            required>
                        <input type="text" class="form-control" name="retry_times"
                            placeholder="Reintento de cobro - 1 / 2 / 10" required>
                        <select class="form-control" name="repeat_unit" id="" required>
                            <option value="week">
                                semenal
                            </option>
                            <option value="month">
                                mensual
                            </option>
                            <option value="year">
                                anual
                            </option>
                        </select>
                        <input type="text" class="form-control" name="trial_days"
                            placeholder="Días de prueba - Se recomineda 0" required>
                        <input type="text" class="form-control" name="repeat_every"
                            placeholder="Repetir por lapso de tiempo semanal = 1 / mensual = 2" required>

                    </form>
                    <br>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Idetificador </th>
                                <th>Fecha</th>
                                <th>Estado</th>
                                <th>Ver mas</th>
                                <th>Borrar</th>
                            </tr>
                        </thead>
                        <tbody id="plansT">

                        </tbody>
                    </table>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Gestión de unidades</h3>
                    <h4>Agregar unidad</h4>

                    <img src="/img/tc.png" class="card-img-top pull-right  rounded-circle w-50 animated infinite pulse"
                        width="80" alt="">
                    <br>

                    <form action="/tc-create" method="post" enctype="multipart/form-data">
                        <div class="pull-right"><label for=""></label><input type="submit" value="Agregar"></div>
                                    <div class="form-group">
                            <img id="PreviewImage" class="" width="150" height="200" src="" alt="Imagen de unidad"
                                style="height:100px;" required />



                            <br>
                            <label for="">Inserte una imagen</label>

                            <input name="fx" onchange="readURL(this);" type="file" enctype="multipart/form-data" />

                            <script>
                                function readURL(input) {
                                    if (input.files && input.files[0]) {//Check if input has files.
                                        var reader = new FileReader(); //Initialize FileReader.

                                        reader.onload = function (e) {
                                            $('#PreviewImage').attr('src', e.target.result);
                                            $("#PreviewImage").resizable({ aspectRatio: true, maxWidth: 300 });
                                        };
                                        reader.readAsDataURL(input.files[0]);
                                    }
                                    else {
                                        $('#PreviewImage').attr('src', "#");
                                    }
                                }
                            </script>
                        </div>
                        <br>
                        <input class="hidden" type="text" value="{{user.id}}" name="id_user">
                        <input class="hidden" type="text" value="{{user.id_client}}" name="client">

                        <label for=""></label><input class="form-group" type="text" name="name"
                            placeholder="Nombre de la unidad" required>
                        <label for=""></label><input class="form-group" type="text" name="amount"
                            placeholder="costo - 00.00" required>
                        <label for=""></label><input name="desc" class="form-group" type="text" required>

            
                    </form>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody id="tcT">

                        </tbody>
                    </table>






                </div>
            </div>
        </div>



    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
<script src="/js/populatetablesadmin.js"></script>

<script>


    function gettc() {

        $.ajax({
            type: 'GET',
            url: '/tc-list',
            dataType: 'json',
            success: (data) => {
                console.log(data)
                data.forEach((item) => {

                    const row = `<tr>
                        <td> <img style=' width:50px    ;height:50px;' src='${ item.img}'></td>
                        <td>${ item.id}</td>  
                        <td class="">${ item.name}</td>
                        <td class="">
                           $ ${ item.amount}
                        </td>
                    </tr>`;
                    $('#tcT').append(row);
                });
            }

        });
        //$("#ownerT").load();

    };

    gettc();


    function getplans() {
        $.ajax({
            type: 'GET',
            url: '/plan-list',
            dataType: 'json',
            success: (data) => {

                data.forEach((item) => {
                    const row = `<tr>
                    <td>${item.name}</td>
                    <td>${item.creation_date}</td>
                    <td>${item.status}</td>
                    <td><a href="/plan-edit/${item.id}">ver mas</a></td>
                    <td><a href="/plan-delete/${item.id}">Borrar</a></td>
                </tr>`;
                    $('#plansT').append(row);
                });
            }

        });
    }


    getplans();
</script>

{{else}}

<h1>usted no debería estar aquí</h1>
{{/if}}