<div class="container">
    <div class="row">
       <div class="col-lg-12">
            {{#if error}}

        <p>
            description: {{error.description}}</p>
        <p>
            http_code: {{error.http_code}}</p>
        <p> error_code: {{error.error_code}}</p>
       


     


        {{else}}

        no hay errores que mostrar

        {{/if}}
       </div>
    </div>
</div>