<div class="container">
    <div class="row">


        {{#if user}}
        <h3>ver cards y eliminar
        </h3>

        {{#if id}}

            {{id}}

            <div class="col-lg-12">
                <div class="jumbotron">
                    <h4>Datos de tarjeta</h4>
                    <div id="Tarjeta">

                    </div>
                </div>
            </div>

        {{else}}


        <h4>USted no puede estar aquí</h4>

        {{/if}}


        {{else}}


        <h4>USted no puede estar aquí</h4>

        {{/if}}


    </div>
</div>