<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Perfil</a></li>
    <li><a data-toggle="tab" href="#menu2">Social</a></li>
    <li><a data-toggle="tab" href="#menu3">Mis Proyectos</a></li>
    <li><a data-toggle="tab" href="#menu4">Datos Bancarios</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>Some content.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Some content in menu 1.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Some content in menu 2.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Some content in menu 2.</p>
    </div>
    <div id="menu4" class="tab-pane fade">
        <h3>Datos Bancarios</h3>
        <p>Some content in menu 2.</p>


        <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
        <script type='text/javascript' src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {

                OpenPay.setId('mzdtln0bmtms6o3kck8f');
                OpenPay.setApiKey('pk_f0660ad5a39f4912872e24a7a660370c');
                OpenPay.setSandboxMode(true);
                //Se genera el id de dispositivo
                var deviceSessionId = OpenPay.deviceData.setup("payment-form", "deviceIdHiddenFieldName");
                alert(deviceSessionId);

                $('#pay-button').on('click', function (event) {
                    event.preventDefault();
                    $("#pay-button").prop("disabled", true);
                    OpenPay.token.extractFormAndCreate('payment-form', sucess_callbak, error_callbak);
                });

                var sucess_callbak = function (response) {
                    var token_id = response.data.id;
                    $('#token_id').val(token_id);
                    $('#payment-form').submit();
                };

                var error_callbak = function (response) {
                    var desc = response.data.description != undefined ? response.data.description : response.message;
                    alert("ERROR [" + response.status + "] " + desc);
                    $("#pay-button").prop("disabled", false);
                };

            });
        </script>




         
        <div class="bkng-tb-cntnt col-lg-12">
            <div class="pymnts">
                <form action="#" method="POST" id="payment-form">
                    <input type="hidden" name="token_id" id="token_id">
                    <div class="pymnt-itm card active">
                        <h2>Tarjeta de crédito o débito</h2>
                        <div class="pymnt-cntnt">
                            <div class="card-expl">
                                <div class="credit">
                                    <h4>Tarjetas de crédito</h4>
                                </div>
                                <div class="debit">
                                    <h4>Tarjetas de débito</h4>
                                </div>
                            </div>
                            <div class="sctn-row">
                                <div class="sctn-col l">
                                    <label>Nombre del titular</label><input type="text"
                                        placeholder="Como aparece en la tarjeta" autocomplete="off"
                                        data-openpay-card="holder_name">
                                </div>
                                <div class="sctn-col">
                                    <label>Número de tarjeta</label><input type="text" autocomplete="off"
                                        data-openpay-card="card_number"></div>
                            </div>
                            <div class="sctn-row">
                                <div class="sctn-col l">
                                    <label>Fecha de expiración</label>
                                    <div class="sctn-col half l"><input type="text" placeholder="Mes"
                                            data-openpay-card="expiration_month"></div>
                                    <div class="sctn-col half l"><input type="text" placeholder="Año"
                                            data-openpay-card="expiration_year"></div>
                                </div>
                                <div class="sctn-col cvv"><label>Código de seguridad</label>
                                    <div class="sctn-col half l"><input type="text" placeholder="3 dígitos"
                                            autocomplete="off" data-openpay-card="cvv2"></div>
                                </div>
                            </div>
                            <div class="openpay">
                                <div class="logo">Transacciones realizadas vía:</div>
                                <div class="shield">Tus pagos se realizan de forma segura con encriptación de 256 bits
                                </div>
                            </div>
                            <div class="sctn-row">
                                <a class="button rght" id="pay-button">Pagar</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>





    </div>
</div>
